.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar_buttons {
  font-size: 25px;
  margin-top: 20px;
  max-width: 100%;
}

#header {
  text-align: center;
}

#page {
  margin: 20px;
  justify-content: flex-end;
}

.animal_cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  
}

.animal_cards_info {
  background: linear-gradient(to right, rgb(255, 181, 181), rgb(255, 214, 161));
  margin: 10px;
  position: relative;
  top: 0;
  padding: 20px;
  padding-top: 20px;
  border-style: double;
  border-top: 1rem;
  border-bottom: 1rem;
  border-radius: 30px;
  text-align: center;
  min-width: 30%;
  max-width: 70%;
  height: 500px;
  line-height: 17.5px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff;
  border-right: 0.5rem solid #631d3b;
  border-left: 0.5rem solid #631d3b;
  transition: top ease-in-out 150ms;

}

.animal_cards_info:hover {
  top: -10px;
}

.card_images {
  max-width: 100%;
  max-height: 70%;
  height: auto;
  width: auto\9;
  vertical-align:middle;
  border-radius: 20px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff;}


.animal_info {
  vertical-align: bottom;
}

.animals_container {
  padding: auto;
  align-items: center;
}


.articles {
  display: block;
  border: 2px solid black;
  max-width: 80%;
  text-align: left;
}

.article_images {
  float: left;
  max-width: 45%;
  max-height: 70%;
  height: auto;
  width: auto\9;
  vertical-align:middle;
  border-radius: 20px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff; 
}

.article_info {
  overflow: hidden;
  float: right;
  background: linear-gradient(to bottom, rgb(152, 191, 255), rgb(148, 255, 194));
  
}

.titles {
  font-size: 30px;
  text-align: center;
  
  --s: 0.1em;   /* the thickness of the line */
  --c: #5dacec; /* the color */

  margin-left: 30%;
  margin-right: 30%;
  color: white;
  text-shadow: 2px 2px 7.5px black;
  padding-bottom: var(--s);
  background: 
  linear-gradient(90deg,var(--c) 50%,rgb(255, 0, 0) 0) calc(100% - var(--_p,0%))/200% 100%,
  linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  transition: 0.4s;
}

.titles:hover {--_p: 100%}
